<!DOCTYPE html>
<html lang="en" ng-app="app">
  <head>
    <meta charset="utf-8">
    <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.js"></script>
    <script src="app/app.js"></script>
    <link rel="stylesheet" href="css/style.css.scss">
    <title>{{exh.title}} | American Abstract Artists at FiveMyles</title>
  </head>
  <body>
    <section id="introduction">
      <div id="title">
        <h1>{{exh.title}}</h1>
      </div>
      <div id="intro-panel" ng-show="introShow">
        <h2>{{exh.subtitle}}</h2>
        <p>{{exh.dates}}</p>
        <a href="{{exh.locationUrl}}">{{exh.location}}</a>
        <p>Curated by {{exh.curator}}</p>
      </div>
      <div id="intro-buttons">
        <button ng-click="openExh()" ng-show="introShow && !exhShow">Enter</button>
        <button ng-click="toggleIntro()" ng-show="!introShow">More</button>
        <button ng-click="toggleIntro()" ng-show="exhShow && introShow">Less</button>
      </div>
    </section>
    <section ng-controller="ExhibitionController as exhibition" ng-show="exhShow">
      <div id="search-sort">
        Search: <input ng-model="exhibition.query">
        Sort: <select ng-model="exhibition.orderProp">
          <option value="artist_last">Artist</option>
          <option value="date">Date</option>
          <option value="price">Price</option>
        </select>
      </div>
      <ul id="exhibition" style="margin: 0 10%;">
        <li isotope-item="isotope-item" class="artwork" id="artwork-{{$index}}" ng-repeat="artwork in artworks | filter:exhibition.query | orderBy:exhibition.orderProp" expandable>
            <img ng-src="images/{{artwork.imgsrc}}" height="400"/>
            <div class="artist-name" lastname="{{artwork.artist_last}}"><strong>{{artwork.artist}}</strong></div>
            <div class="title" title="{{artwork.title}}">{{artwork.title}}</div>
            <div class="date" date="{{artwork.date}}">{{artwork.date}}</div>
            <div class="medium" medium="{{artwork.medium}}">{{artwork.medium}}</div>
        </li>
      </ul>
    </section>
    <nav id="artist-index" ng-controller="IndexController as index" ng-show="indexShow">
      <h6 ng-repeat="artist in artists">{{artist.first_name}} {{artist.last_name}}</h6>
    </nav>
  </body>
</html>
