<!DOCTYPE html>
<html lang="en" ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.js"></script>
    <script src="myApp.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/packery/1.4.3/packery.pkgd.js"></script>

    <title>{{exh.title}} | American Abstract Artists at FiveMyles</title>
  </head>
  <body>
    <section id="introduction">
      <div id="title">
        <h1>{{exh.title}}</h1>
      </div>
      <div id="intro-panel" ng-show="introShow">
        <h2>{{exh.subtitle}}</h2>
        <p>{{exh.dates}}</p>
        <a href="{{exh.locationUrl}}">{{exh.location}}</a>
        <p>Curated by {{exh.curator}}</p>
      </div>
      <div id="intro-buttons">
        <button ng-click="openExh()" ng-show="introShow && !exhShow">Enter</button>
        <button ng-click="toggleIntro()" ng-show="!introShow">More</button>
        <button ng-click="toggleIntro()" ng-show="exhShow && introShow">Less</button>
      </div>
    </section>
    <section ng-controller="ExhibitionController" ng-show="exhShow" id="exhibition">
      <div class="artwork" id="artwork-{{$index}}" ng-repeat="artwork in artworks" ng-packery>
          <img ng-src="images/{{artwork.imgsrc}}" height="200" width="auto"/>
          <p><strong>{{artwork.artist}}</strong></p>
          <p><em>{{artwork.title}}</em></p>
          <p>{{artwork.date}}</p>
          <!-- <p>{{artwork.medium}}</p> -->
      </div>
    </section>
    <nav id="artist-index" ng-controller="IndexController" ng-show="indexShow">
      <h6 ng-repeat="artist in artists">{{artist.first_name}} {{artist.last_name}}</h6>
    </nav>
    <script>
      var $container = $('#exhibition');
      $container.packery({
        itemSelector: '.artwork',
        gutter: 100,
        columnWidth: 250
      });
    </script>
  </body>
</html>
